<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedAlarm"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <!-- No es necesario definir LAUNCHER aquí, porque MainActivity será lanzada desde Login -->
        </activity>

        <!-- Configuración de Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Client ID de Google para Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="8576541139-v5f3k8fcbboprttihicincf5dkeg8lil.apps.googleusercontent.com" />

        <!-- Clave API (si se usa Google Maps o alguna API adicional de Google) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDstJ3O6OU_H39I-_t3zdE9xijupSDDNko" />

        <!-- Receptor para alarmas -->
        <receiver android:name=".AlarmaReceiver" android:enabled="true" android:exported="false" />

    </application>
</manifest>
